.card {
  max-width: 28rem;
  margin: 2.4rem auto;
  padding: 1.4rem;
  background-color: $color-white;
  border-radius: 12px;
  box-shadow: 0 1rem 1rem rgba(#000, 0.1);

  &__img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1.6rem;
  }

  &__text--desc {
    color: $color-grayish-blue;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 1.6rem;
  }
}
